@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(204, 43%, 93%);
    
}

.container {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    
}

.content {
    width: 635px;
    
    border-radius: 10px;
    box-shadow:5px 2px 2px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "section--community section--community section--community section--community"
        "section--monthly section--monthly section--why-us section--why-us"
    ;
}

.section--community {
    grid-area: section--community;
    background-color: #FFF;
    padding: 35px;
}

.section--monthly {
    grid-area: section--monthly;
    background-color: hsl(179, 62%, 43%);
    padding: 35px;
}

.section--why-us {
    grid-area: section--why-us;
    background-color: hsl(180, 61%, 46%);
    padding: 35px;
}

.section--monthly,
.section--why-us {
    color: #FFF;
}

.section--community h2 {
    color: hsl(179, 62%, 43%);
    font-size: 24px;
    padding-bottom: 30px;
}

.section--community p {
    padding-bottom: 15px;
}

.quote {
    font-weight: bold;
    color:hsl(71, 73%, 54%);
}

.section--community p:last-child {
    color: hsl(218, 22%, 67%);
    font-weight: 300;
}



.section--monthly h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.section--monthly span {
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
}

.section--monthly .first {
    font-size: 12px;
    color:hsl(204, 43%, 93%);
} 


.section--monthly p {
    margin-bottom: 30px;
    font-weight: 100;
}

button {
    margin: 10px 0;
    width: 235px;
    height: 45px;
    line-height: 45px;
    background-color: hsl(71, 73%, 54%);
    box-shadow:5px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border: transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
}


.section--why-us h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.section--why-us p {
    padding-right: 30px;
}


footer a:last-child {
    text-decoration: none;
}

footer a:last-child:hover {
    text-decoration: none;
    color: tomato;
}



@media (max-width: 375px) {
    .content {
        width: 370px;
        
        border-radius: 10px;
        box-shadow:5px 2px 2px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: grid;
        justify-content: center;
        grid-template-areas: 
            "section--community"
            "section--monthly"
            "section--why-us"
        ;
    }
}